{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:flowtype/recommended"
  ],
  "plugins": ["flowtype", "react-hooks"],
  "rules": {
    "react-hooks/rules-of-hooks": "error"
  },
  "env": {
    "jest": true
  }
}
